.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 200px;
    width: 70%;
    border: 2px dashed #2951a7;
    border-radius: 5px;
    background: rgb(243, 243, 243);
    margin: 10px 0;
}

.dropzone.hovering {
    border: 2px solid #23c546;
    color: #dadada !important;
}

progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.avatar-preview { transition: all .2s ease-in-out; }
.avatar-preview:hover { 
    transform: scale(1.2); 
    cursor: pointer;
}

.avatar-upload {
    position: relative;
    width: 40px;
    height: 40px;
}

.avatar-preview {
    border-radius: 10%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-edit {
    position: absolute;
    z-index: 1;
}

.avatar-edit input {
    display: none;
}

.avatar-edit label:hover {
    background: #f72323;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(120px, auto);
  }

.avatar-edit label {
    display: inline-block;
    padding-top: 4px;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.avatar-edit label:after {
    color: #757575;
    position: absolute;
    padding-top: 4px;
    padding-left: 4px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}